$full_screen: 100vh;
$aside_color: #444444; //#304051;
$aside_font_color: #B1B1B1;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/*
* ASIDE MENU STARTS HERE
*/


#aside {
  position: fixed;
  height: $full_screen;
  display: flex;
  flex-direction: column;
  padding: 0px;
  background-color: $aside_color;
  color: $aside_font_color;

  /*
  * SHOWING THE BUTTON ON TOP OF EVERYTHING
  */

  & label[for="mobil_toggle"] {
    display: none;
  }

  /*
  * HERE YOU CAN MANIPULATE THE <ASIDE> FROM THE MOBILE TOGGLE
  */

  #mobil_toggle {
    left: -500%;
    display: none;

    &:checked {
      & ~ label {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
      }

      & ~ #aside_container {
        display: none !important;
      }
    }
  }

  /*
  * LANGUAGE BAR STYLES
  */

  & #lang_bar {
    background-color: $aside_color;

    #lang, #season {
      position: relative;
      margin-right: 5%;
      margin-left: 5%;
      width: 40% !important;
      float: left;
    }
  }

  /*
  * LOGO AND SEARCH FIELD STYLES
  */

  & #logo_img {
    height: 20vh;

    & img {
      width: 60%;
      padding-top: 10%;
    }

    & #search {
      width: 90%;

      & input {
        width: 100%;
        height: auto;
        background-color: #282828;
        color: $aside_font_color;
        border-style: none;
        padding: 1rem;
      }
    }

  }

  /*
  * NAVBAR STYLES
  */

  & nav {
    height: 50vh !important;

    & a {
      color: $aside_font_color;
      height: 7vh !important;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  /*
  * FOOTER STYLES
  */

  & #aside_footer {
    position: absolute;
    width: 100%;
    height: 13vh;
    bottom: 0px !important;

    & .tel {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;

      &:before {
        content: "\f095";
        color: gray;
      }

      &:after {
        content: " (857) 576-0282";
        color: gray;
      }
    }

    & a {
      color: $aside_font_color;

      &:hover {
        color: #71dd8a;
      }
    }

    * {
      justify-content: center;
    }
  }

}

/*
* MEDIA QUERY FOR EXTRA SMALL DEVICES (portrait phones, less than 576px)
*/

@media (max-width: 575.98px) {
  #aside {
    z-index: 1;
    position: fixed;
    height: auto;
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    /*
    * HIDE EVERYTHING INSIDE <ASIDE_CONTAINER>
    */

    & #aside_container {
      display: none !important;
    }

    label[for="mobil_toggle"] {
      display: initial;
      position: relative;
      z-index: 10000;
      float: right;
    }

    #mobil_toggle {
      display: none;

      &:checked {
        & ~ label {
          color: #fff;
          background-color: #28a745;
          border-color: #28a745;
        }

        & ~ #aside_container {
          display: initial !important;

          & #lang_bar {
            & #lang {
              display: none;
            }
          }

          & #aside_footer {
            position: relative;
          }
        }
      }
    }

  }

  #main_container {
    position: static;
    height: auto;
  }
}


/*
* MAIN CONTENT STARTS HERE
*/


#main_container {
  position: absolute;
  right: 0;
}
